{% extends 'core/base.html' %}
{% load static %}
{% block content%}
<div class="wrap">
	{% for el in object_list %}
		<div class="w3-card card w3-center">
			<div class="w3-container w3-black"><h3>{{ el.name }}</h3></div>
			<img src="{{ el.image.url }}">
			<div class="w3-container">
				<h2>{{ el.price }} <i class="fas fa-coins p-2"></i></h2>
				<p>{{ el.description }}</p>
			</div>
		</div>
	{% endfor %}
	<div class="w3-card card w3-center">
		<div class="w3-container w3-black"><h3>Кристал визначення мани</h3></div>
		<img src="{% get_media_prefix %}img/FREE.jpg">
		<div class="w3-container">
			<div class="w3-tooltip">
				<h2 class="w3-green">
					FREE <i class="fas fa-coins p-2"></i>
				</h2>
				<div class="w3-text w3-tag" style="position:absolute;bottom:50px;left:0;">
					Безкоштовно до кожної покупки
				</div>
			</div>
			<p>Дозволяє визначити рівень мани власника</p>
		</div>
	</div>
</div>
{% endblock %}