.wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 10%;
}

@media screen and (max-width: 992px) {
	.wrap{
		padding: 0;
	}
}

.login{
	display: flex;
	flex-direction: row;
}

.card{
	max-width: 230px;
	margin: 16px;
	border-radius: 5px;
	border: 1px solid black;
	word-wrap: break-word;
}
.card img{
	width:100%;
}

#menu-label{
	display: none;
}

#menu-content{
	display: block;
}

#menu{
	position: absolute;
	left: -100vw;
}